<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olsttech.myalarm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_alarmicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_alarmicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".alarms.AlarmMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".addAlarm.AddAlarmActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".editAlarm.EditAlarmActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".helpers.SoundsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".helpers.LabelActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".helpers.RepeatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".alarmwidget.AlarmWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/alarm_widget_info" />
        </receiver>
    </application>

</manifest>